<!DOCTYPE html>
<html>
  <head></head>
    <body>
      <img src="http://xpertxolutions.com/images/header-background.jpg">
      <div class="row">
        <a href="understand"><img src="http://americandreams.historichotels.org/media/images/content/header-article.jpg"></a>
        </div>
      <div class "rowwa">
        <a href="explore"><img src="http://americandreams.historichotels.org/media/images/content/header-article.jpg"></a>
      </div>
    </body>
  </head>
</html>